html {
  font-family: "Crimson Text", serif;
  color: #403328;
}

.skip-links a:focus {
  top: 0;
}

header {
  background-color: #a2bba1;
  text-align: center;
}

.banner-nav {
  top: 2%;
  right: 2%;
}

.banner-title {
  bottom: 25%;
  right: 30%;
}

.banner-title2 {
  bottom: 25%;
  right: 45%;
}

.recipe1 {
  bottom: 25%;
  right: 20%;
}

.recipe2 {
  bottom: 25%;
  right: 25%;
  max-width: 50%;
}

.recipe3 {
  bottom: 25%;
  right: 32%;
}

nav li {
  display: inline-block;
  margin-bottom: .3em;
}

nav a {
  color: #403328;
  background-color: #a2bba1;
  border-radius: 4px;
  display: inline-block;
  text-decoration: none;
  list-style-type: none;
}

.nav .current {
  color: #fff;
  background-color: #403328;
}

a {
  color: #403328;
  text-decoration: none;
  list-style-type: none;
}

nav a:hover {
  color: #fff;
  background-color: #403328;
}

.hover:hover {
  color: #fff;
  background-color: #403328;
}

h1, h2, h3 {
  color: #403328;
  font-family: Roboto, sans-serif;
}

p {
  color: #403328;
}

.no-style {
  list-style-type: none;
}

footer {
  color: #fff;
  background-color: #403328;
  text-align: center;
  padding: .75em;
}
